@import './element';

* {
  padding: 0;
  margin: 0;
}

/* 设置html元素的字体大小为 16px，即 1rem = 16px */
html {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbbaba;
  border-radius: 6px;
}
